	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->

<!--
	<span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
-->
</div>

<!-- Start of 6502.org footer -->
<div class="site-footer">
  <div>
    6502.org is an ongoing project by <a href="https://mikenaberezny.com" title="Mike Naberezny">Mike Naberezny</a> and contributors.
  </div>
  <div>
    <a href="http://6502.org/about">About</a> &middot;
    <a href="http://6502.org/news/">News</a> &middot;
    <a href="https://github.com/6502org">GitHub</a>
  </div>
</div>
<!-- End of 6502.org footer -->

</body>
</html>
